<%- include('./port/layout-start') + name %>
<%- include('./port/menu') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6" style="overflow-wrap: break-word;"><%= title %></h1>
    </div>
</div>

<%- include('./port/layout-end') %>